:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #007d45;
  --secondary-color: #f1e6fa;
  --tertiary-color: #333;
  --text-primary-color: black;
  --text-secondary-color: #fff;
  --text-tertiary-color: #fff;
  --passed: #008743;
  --skipped: #FDD000;
  --pending: darkorange;
  --failed: #CC1414;
  --undefined: darkviolet;
  --ambiguous: #005AB3;
  --total: blue;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100%;
}

.chart {
  width: 1200px;
  margin-top: 1rem;
}

.filter-options {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  gap: 1rem;
  height: 100%;
}

.page-padding {
  padding: 0 5%;
}

.botMargin {
  margin: 0 0 50px 0;
}

.dropdown-select-options {
  width: 400px;
}

.dropdown-select-date {
  width: 200px;
}

.filter-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}